@import "tailwindcss";

:root {
    --background: #141414; /* Nền đen xám biểu tượng của Netflix */
    --foreground: #ffffff; /* Trắng sáng */
    --brand-red: #e50914; /* Đỏ Netflix kinh điển */
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-netflix: var(--brand-red);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background-color: var(--background);
    color: var(--foreground);
    min-height: 100vh;
    overflow-x: hidden;
}

/* Ẩn thanh cuộn mặc định của trình duyệt để các hàng phim cuộn mượt mà */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Kiểu số nét rỗng nghệ thuật cho hàng TOP 10 Netflix */
.netflix-number {
    -webkit-text-stroke: 4px #404040;
    color: #141414;
}
